header {
    text-align: center;
    background-color: darkblue;
    color: white;
    border: solid black;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#side-column {
    display: flex;
    flex-direction: column;
}

#current-day-container {
    display: flex;
    flex-direction: row;
    border: solid black;
    background-color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.day-card {
    border: solid black;
    padding: 10px;
    background-color: darkblue;
    color: white;
}

@media screen and (max-width: 576px) {
    .forecast-container {
      flex-direction: column;
      text-align: center;
    }
  }