/*Styling for header */
header {
    text-align: center;
    background-color: darkblue;
    color: white;
    border: solid black;
}
#forecast-header {
    text-align: center;
}
/* These CSS stylings dictate how the containers and cards will be styled as they populate */
.forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#current-day-container {
    display: flex;
    flex-direction: row;
    border: solid black;
    background-color: darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.day-card {
    border: solid black;
    padding: 10px;
    background-color: darkblue;
    color: white;
}
/*Simple media query that changes how forecast data is displayed on mobile devices or small screens */
@media screen and (max-width: 576px) {
    .forecast-container {
      flex-direction: column;
      text-align: center;
    }
  }